<br>

<table class="table table-dark">
  <thead>
    <tr  class="header">
      <th>AÇÂO</th>
      <th scope="col">ID</th>
      <th scope="col">SISTEMA</th>
      <th scope="col">DATA ATUALIZAÇÃO</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody *ngFor="let sistema of sistemas">
    <tr>
      <td>
        <button class="btn btn-outline-primary"
      (click)="alternarProcesso(sistema)">
      <i class="{{sistema.id == mostrarProcesso ? 'far fa-minus-square' : 'far fa-plus-square'}}"></i>
      </button>
      </td>
      <td scope="col">{{sistema.id}} </td>
      <td scope="col">{{sistema.nome}} </td>
      <td scope="col">{{sistema.dataAtualizacao}}</td>
      <td scope="col">
        <div class="form-check form-switch">
          <input *ngIf="sistema.statusSistema" class="form-check-input"
          type="checkbox" id="{{sistema.statusSistema ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          (change)="updateStatusSistema(sistema)" checked>
          <input *ngIf="!sistema.statusSistema" class="form-check-input"
          type="checkbox" id="{{sistema.statusSistema ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          (change)="updateStatusSistema(sistema)">
          </div>
      </td>
    </tr>
    <tr *ngIf="sistema.id == mostrarId">
      <td></td>
      <td>1</td>
      <td>BxlServer.exe</td>
      <td colspan="2">
        <div class="form-check form-switch">
          <input *ngIf="sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
           checked>
          <input *ngIf="!sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          >
          </div>
      </td>
    </tr>
    <tr *ngIf="sistema.id == mostrarId">
      <td></td>
      <td>2</td>
      <td>CompPkgSrv.exe</td>
      <td colspan="2">
        <div class="form-check form-switch">
          <input *ngIf="sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
           checked>
          <input *ngIf="!sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          >
          </div>
      </td>
    </tr>
    <tr *ngIf="sistema.id == mostrarId">
      <td></td>
      <td>3</td>
      <td>BxlServer.exe</td>
      <td colspan="2">
        <div class="form-check form-switch">
          <input *ngIf="sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
           checked>
          <input *ngIf="!sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          >
          </div>
      </td>
    </tr>
    <tr *ngIf="sistema.id == mostrarId">
      <td></td>
      <td>4</td>
      <td>fontdrvhost.exe</td>
      <td colspan="2">
        <div class="form-check form-switch">
          <input *ngIf="sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
           checked>
          <input *ngIf="!sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          >
          </div>
      </td>
    </tr>
    <tr *ngIf="sistema.id == mostrarId">
      <td></td>
      <td>5</td>
      <td>conhost.exe</td>
      <td colspan="2">
        <div class="form-check form-switch">
          <input *ngIf="sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
           checked>
          <input *ngIf="!sistema.usuario?.ativo" class="form-check-input"
          type="checkbox" id="{{sistema.usuario?.ativo ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}"
          >
          </div>
      </td>
    </tr>
</tbody>
</table>


<!--
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">SISTEMA</th>
      <th scope="col">DATA ATUALIZAÇÃO</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sistema of sistemas">
      <th>{{sistema.id}}</th>
      <td>{{sistema.nome}}</td>
      <td>{{sistema.dataAtualizacao}}</td>
      <td>

        <div class="form-check form-switch">
          <input *ngIf="sistema.statusSistema" class="form-check-input" (change)="updateStatusSistema(sistema)"
          type="checkbox"
          checked>

          <input *ngIf="!sistema.statusSistema" class="form-check-input" (change)="updateStatusSistema(sistema)"
          type="checkbox"
          >
          <label class="form-check-label"
          for="{{sistema.statusSistema ? 'flexSwitchCheckChecked' : 'flexSwitchCheckDefault'}}">
          </label>
        </div>

      </td>
    </tr>
  </tbody>
</table>
-->
